.counter {
  position: relative;
  font-size: 35px;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  text-align: center;

}

.button {
  position: relative;
  background-color: grey;
  width: 10%;
  margin: 1% 45%;
  font-size: 25px;
  border: solid;
  border-width: 2px;
}

.background {
  background-color: darkcyan;
  height: 100vh;
  width: 100vw;
}

.title {
  text-align: center;
  font-family: monospace;
  color: navy;
  font-size: 45px;
  padding: 10px;
}

.resetButton {
  position: relative;
  width: 20%;
  height: 10%;
  margin: 5% 40%;
  background-color: lightcoral;
  border: solid;
}